on init
    # CPU
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpufreq/boost
    chmod 0664 /sys/devices/system/cpu/cpufreq/boost

    # Thermal
    chown system system /sys/devices/virtual/thermal/thermal_zone0/boost
    chmod 660 /sys/devices/virtual/thermal/thermal_zone0/boost
    chown system system /sys/devices/virtual/thermal/thermal_zone0/boost_timeout
    chmod 660 /sys/devices/virtual/thermal/thermal_zone0/boost_timeout
    chown system system /sys/class/thermal/thermal_zone0/mode
    chmod 0660 /sys/class/thermal/thermal_zone0/mode
    chown system system /sys/class/thermal/thermal_zone0/trip_point_0_temp
    chmod 0660 /sys/class/thermal/thermal_zone0/trip_point_0_temp
    chown system system /sys/class/thermal/thermal_zone0/trip_point_1_temp
    chmod 0660 /sys/class/thermal/thermal_zone0/trip_point_1_temp
    chown system system /sys/class/thermal/thermal_zone0/sustainable_power
    chmod 0660 /sys/class/thermal/thermal_zone0/sustainable_power

    # GPU
    chown system system /sys/class/devfreq/gpufreq/max_freq
    chmod 660 /sys/class/devfreq/gpufreq/max_freq
    chown system system /sys/class/devfreq/gpufreq/min_freq
    chmod 660 /sys/class/devfreq/gpufreq/min_freq
    chown system system /sys/class/devfreq/gpufreq/cur_freq
    chmod 660 /sys/class/devfreq/gpufreq/cur_freq
    chown system system /sys/class/devfreq/gpufreq/available_frequencies
    chmod 660 /sys/class/devfreq/gpufreq/available_frequencies
    chown system system /sys/class/devfreq/gpufreq/mali_ondemand/animation_boost
    chmod 660 /sys/class/devfreq/gpufreq/mali_ondemand/animation_boost
    chown system system /sys/class/devfreq/gpufreq/mali_ondemand/animation_boost_freq
    chmod 660 /sys/class/devfreq/gpufreq/mali_ondemand/animation_boost_freq
    chown system system /sys/class/devfreq/gpufreq/mali_ondemand/cl_boost
    chmod 660 /sys/class/devfreq/gpufreq/mali_ondemand/cl_boost
    chown system system /sys/class/devfreq/gpufreq/mali_ondemand/cl_boost_freq
    chmod 660 /sys/class/devfreq/gpufreq/mali_ondemand/cl_boost_freq
    write /sys/class/devfreq/gpufreq/mali_ondemand/no_vsync_upthreshold 60

    # DDR
    chown system system /sys/class/devfreq/ddrfreq/max_freq
    chmod 664 /sys/class/devfreq/ddrfreq/max_freq
    chown system system /sys/class/devfreq/ddrfreq/min_freq
    chmod 664 /sys/class/devfreq/ddrfreq/min_freq
    chown system system /sys/class/devfreq/ddrfreq/ddr_bandwidth
    chmod 664 /sys/class/devfreq/ddrfreq/ddr_bandwidth
    chown system system /sys/class/devfreq/ddrfreq/cur_freq
    chmod 664 /sys/class/devfreq/ddrfreq/cur_freq
    chown system system /sys/class/devfreq/ddrfreq/available_frequencies
    chmod 664 /sys/class/devfreq/ddrfreq/available_frequencies
    chown system system /sys/kernel/set_hmp_thresholds/policy
    chmod 0664 /sys/kernel/set_hmp_thresholds/policy

    # PM QoS
    chown system system /dev/cpu_dma_latency
    chmod 0660 /dev/cpu_dma_latency

    # EAS
    chown system system /sys/kernel/eas/boost
    chmod 0660 /sys/kernel/eas/boost
    chown system system /sys/kernel/eas/capacity_margin
    chmod 0660 /sys/kernel/eas/capacity_margin

    # CPU control
    mkdir /dev/cpuctl
    mount cgroup none /dev/cpuctl cpu
    chown system system /dev/cpuctl
    chown system system /dev/cpuctl/tasks
    chmod 0666 /dev/cpuctl/tasks
    write /dev/cpuctl/cpu.shares 1024
    write /dev/cpuctl/cpu.rt_runtime_us 800000
    write /dev/cpuctl/cpu.rt_period_us 1000000

    mkdir /dev/cpuctl/limit
    chown system system /dev/cpuctl/limit/tasks
    chmod 0644 /dev/cpuctl/limit/tasks
    write /dev/cpuctl/limit/cpu.shares 1024
    write /dev/cpuctl/limit/cpu.rt_runtime_us 800000
    write /dev/cpuctl/limit/cpu.rt_period_us 1000000

    # CPU sets
    mkdir /dev/cpuset
    mount cgroup none /dev/cpuset cpuset,cpuset_noprefix
    mkdir /dev/cpuset/foreground
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/foreground/mems 0
    mkdir /dev/cpuset/foreground/boost
    write /dev/cpuset/foreground/boost/cpus 0-7
    write /dev/cpuset/foreground/boost/mems 0

    mkdir /dev/cpuset/background
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/background/mems 0
    mkdir /dev/cpuset/system-background
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/system-background/mems 0

    mkdir /dev/cpuset/top-app
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/top-app/mems 0

    chown system system /dev/cpuset
    chown system system /dev/cpuset/foreground
    chown system system /dev/cpuset/foreground/boost
    chown system system /dev/cpuset/background
    chown system system /dev/cpuset/system-background
    chown system system /dev/cpuset/top-app
    chown system system /dev/cpuset/tasks
    chown system system /dev/cpuset/foreground/tasks
    chown system system /dev/cpuset/foreground/boost/tasks
    chown system system /dev/cpuset/background/tasks
    chown system system /dev/cpuset/system-background/tasks
    chown system system /dev/cpuset/top-app/tasks
    chmod 0775 /dev/cpuset/system-background
    chmod 0664 /dev/cpuset/foreground/tasks
    chmod 0664 /dev/cpuset/foreground/boost/tasks
    chmod 0664 /dev/cpuset/background/tasks
    chmod 0664 /dev/cpuset/system-background/tasks
    chmod 0664 /dev/cpuset/top-app/tasks
    chmod 0664 /dev/cpuset/tasks

    # MM
    mkdir /dev/workingset
    mount cgroup none /dev/workingset nodev noexec nosuid workingset
    mkdir /dev/workingset/monitor0
    mkdir /dev/workingset/monitor1
    chmod 0600 /dev/workingset/tasks
    chmod 0600 /dev/workingset/monitor0/tasks
    chmod 0600 /dev/workingset/monitor1/tasks
    chmod 0600 /dev/workingset/cgroup.procs
    chmod 0600 /dev/workingset/monitor0/cgroup.procs
    chmod 0600 /dev/workingset/monitor1/cgroup.procs
    chmod 0600 /dev/workingset/monitor0/workingset.state
    chmod 0600 /dev/workingset/monitor1/workingset.state
    chmod 0600 /dev/workingset/monitor0/workingset.data
    chmod 0600 /dev/workingset/monitor1/workingset.data

    # I/O
    mkdir /dev/blkio
    mount cgroup none /dev/blkio blkio

    mkdir /dev/blkio/foreground
    mkdir /dev/blkio/background
    mkdir /dev/blkio/system-background
    mkdir /dev/blkio/key-background
    mkdir /dev/blkio/top-app

    chown system system /dev/blkio
    chown system system /dev/blkio/foreground
    chown system system /dev/blkio/background
    chown system system /dev/blkio/system-background
    chown system system /dev/blkio/key-background
    chown system system /dev/blkio/top-app

    chown system system /dev/blkio/tasks
    chown system system /dev/blkio/foreground/tasks
    chown system system /dev/blkio/background/tasks
    chown system system /dev/blkio/system-background/tasks
    chown system system /dev/blkio/key-background/tasks
    chown system system /dev/blkio/top-app/tasks

    chmod 0644 /dev/blkio/tasks
    chmod 0644 /dev/blkio/foreground/tasks
    chmod 0644 /dev/blkio/background/tasks
    chmod 0644 /dev/blkio/system-background/tasks
    chmod 0644 /dev/blkio/key-background/tasks
    chmod 0644 /dev/blkio/top-app/tasks

on property:sys.boot_completed=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor schedutil

    write /sys/kernel/eas/boost 0
    write /sys/kernel/eas/boot_boost 0
    write /sys/kernel/eas/capacity_margin 1860
    write /sys/kernel/eas/sd_capacity_margin 1860
